@media screen and (max-width:600px) {
    main{
        img{
            display: none;
        }

        form{
            height: 480px;
            width: 260px;
            
            fildset{
                label{
                    font-size: 14px;
                }

                input{
                    width: 100%;
                    height: 30px;
                }
            }

            #buttonLogin{
                width: 150px;
            }

            a,p{
              font-size: 13px;  
            }
        }
    }
}