@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --BackgroundColor: #1E1E1E;
    --BackgroundHoverButton: rgba(255, 255, 255, 0.25);
    --BorderColor: #FFFFFF;
    --FontNameUser: "Poppins";
    --GlobalFont: "Reem Kufi";
    --FontColor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: var(--BackgroundColor);
}

header {
    border-bottom: 1px solid var(--BorderColor);
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        width: 30px;
    }

    #links {
        display: flex;
        flex-direction: row;
        gap: 24px;

        a {
            font-family: var(--GlobalFont);
            font-weight: normal;
            color: var(--FontColor);
            text-decoration: none;
            position: relative;
        }

        a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--FontColor);
            transition: width .5s ease;
        }

        a:hover::after {
            width: 100%;
        }
    }
}


main {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #nav {
        min-height: 100vh;

        border-right: 1px solid var(--BorderColor);
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        ul li{
            list-style: none;
        }

        a {
            background-color: transparent;

            font-family: var(--GlobalFont);
            font-weight: normal;
            text-decoration: none;
            color: var(--FontColor);

            border: 1px solid var(--BorderColor);
            border-radius: 10px;

            width: 200px;

            padding: 8px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            img {
                width: 30px;
                height: 30px;
            }

            a {
                font-family: var(--GlobalFont);
                color: var(--FontColor);

                text-decoration: none;
            }
        }

        a:hover {
            background-color: var(--BackgroundHoverButton);

            transition: all .3s ease;
        }
    }
}

#posts {
    .divAll {
        width: 500px;
        height: 500px;
        margin-top: 32px;

        .headerPost {
            margin-bottom: 14px;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            .profileImage {
                background-color: #FFFFFF;

                border-radius: 50%;

                width: 40px;
                height: 40px;
            }

            .nameUser {
                font-family: var(--FontNameUser);
                color: var(--FontColor);
                font-weight: normal;
                font-size: 20px;
            }
        }

        .post {
            width: 500px;
        }

        .description {
            font-family: var(--GlobalFont);
            font-weight: normal;
            color: var(--FontColor);

            margin-bottom: 8px;
        }

        .footerPost {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .icones {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }

            img {
                width: 25px;
            }
        }
    }
}


#currentUsers {
    border-left: 1px solid var(--BorderColor);
    
    display: flex;
    flex-direction: column;

    h1 {
        font-family: var(--GlobalFont);
        font-weight: normal;
        font-size: 24px;
        color: var(--FontColor);

        margin: 16px auto;
    }

    .divCurrentUsers{
        border-bottom: 1px solid var(--BackgroundHoverButton);

        padding: 8px;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        .profileImage{
            background-color: #FFFFFF;

            width: 45px;
            height: 45px;
    
            border-radius: 50%;
        }

        .divNamePosts{
            padding: 8px;
            
            .nameUser{
                font-family: var(--FontNameUser);
                color: var(--FontColor);
                font-weight: normal;
                font-size: 18px;

                margin: 0;
            }

            .amountPosts{
                font-family: var(--GlobalFont);
                color: var(--FontColor);
                font-weight: 300;
                font-size: 16px;

                margin: 0;
            }
        }

    }
}

#addPost {
    border: 1px solid var(--BorderColor);
    border-radius: 10px;

    width: 70%;
    height: 50%;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contain {
        width: 80%;
        height: 60%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: var(--GlobalFont);
            font-weight: normal;
            color: var(--FontColor);

            margin: 8px 0;

        }

        div {
            border: 1px solid var(--BorderColor);
            border-radius: 10px;

            width: 100%;
            
            padding: 16px 24px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                display: none;
            }

            label {
                font-family: var(--FontNameUser);
                font-weight: normal;
                color: var(--FontColor);

                width: 200px;
                height: 40px;

                border: 1px solid var(--BorderColor);
                border-radius: 10px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                cursor: pointer;
            }

            label:hover {
                background-color: var(--BackgroundHoverButton);

                transition: all .3s ease;
            }
        }

        textarea {
            background-color: var(--BackgroundHoverButton);

            color: var(--FontColor);

            border: .5px solid var(--BorderColor);
            border-radius: 10px;

            width: 100%;
            height: 60px;

            margin-bottom: 12px;
            padding: 0 8px;

            overflow: visible;
            resize: none;
        }

        textarea::-webkit-scrollbar {
            width: 0px;
        }

        #labelDescription {
            font-family: var(--GlobalFont);
            font-weight: normal;
            color: var(--FontColor);

            width: 100%;

            margin: 16px 0 8px 0;
        }

    }

    #postSubmit {
        background-color: transparent;

        font-family: var(--GlobalFont);
        font-weight: normal;
        font-size: 18px;
        color: var(--FontColor);

        border: none;

        cursor: pointer;
        position: relative
    }


    #postSubmit::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--FontColor);
        transition: width .5s ease;
    }

    #postSubmit:hover::after {
        width: 100%;
    }
}

#profileContain {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    #profile {
        border-bottom: 1px solid var(--BorderColor);

        padding: 40px;

        width: 100%;
        height: 20%;

        display: flex;
        flex-direction: row;

        h2{
            font-family: var(--FontNameUser);
            font-weight: normal;
            color: var(--FontColor);
        }

        #profileImage{
            background-color: #FFFFFF;

            width: 80px;
            height: 80px;

            border-radius: 50%;

            margin-right: 10px;
        }
    }

    #divPostProfile {
        padding: 64px;

        h1 {
            font-family: var(--GlobalFont);
            font-weight: normal;
            font-size: 24px;
            color: var(--FontColor);

            margin-bottom: 16px;
        }

        #postsUser {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .divPost{
                width: 100%;
                height: 400px;

                padding: 8px;
                
                .postUser{
                    width: 100%;
                    height: 300px;
                }

                .descriptionUser{
                    font-family: var(--GlobalFont);
                    font-weight: normal;
                    color: var(--FontColor);        
                }

                .buttons{
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    
                    button{
                        width: 30%;
                        height: 10%;
                    }

                }
            }
        }
    }
}